.scoreWrapper {
  position: relative;
  background: var(--color-tertiary);
  font-size: 25px;
  font-weight: bold;
  border-radius: 3px;
  color: var(--color-text-secondary);
  text-align: center;
  width: fit-content;
  padding: 5px 20px;
  font-size: 24px;
}

@media (max-width: 480px) {
  .scoreWrapper {
    width: 100%;
    padding: 4px 10px;
    font-size: 20px;
  }

  .scoreTitle {
    font-size: 10px;
  }
}

.scoreTitle {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--bg-color-4);
}


.score::before {
  content: attr(data-value);
  position: absolute;
  animation: slowMoveUp ease-out 1s;
  opacity: 0;
  color: var(--color-score-gain);
  font-size: 32px;
  font-weight: 800;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

@keyframes slowMoveUp {
  0% {
    top: 0;
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    top: -50px;
    opacity: 0;
    transform: scale(1.15);
  }
}
