.scoreWrapper {
  position: relative;
  background: #bbada0;
  font-size: 25px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  font-size: 14px;
  text-transform: uppercase;
}
