.wrapper {
  padding: 20px;
  width: 100%;
  height: 100%;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gameContainer {
  height: 200px;
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
}

.devTools {
  display: flex;
  column-gap: 5px;
}

.devTools button {
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-text-secondary);
  height: 20px;
  padding: 0 15px;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 140px;
}
