:root {
  --color-text-main: #776e65;
  --color-text-secondary: #f9f6f2;
  --color-secondary: #8f7a66;
  
  --bg-color-2: #eee4da;
  --bg-color-4: #ede0c8;
  --bg-color-8: #f2b179;
  --bg-color-16: #f59563;
  --bg-color-32: #f67c5f;
  --bg-color-64: #f65e3b;
  --bg-color-128: #edcf72;
  --bg-color-256: #edcc61;
  --bg-color-512: #edc850;
  --bg-color-1024: #edc53f;
  --bg-color-2048: #edc22e;
  --bg-color-final: #3c3a32;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #faf8ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
}
