.gameWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-margin-top: 125px;
}

.gameContainer {
  width: 100%;
  height: 100%;
}

.gameOverOverlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(238, 228, 218, 0.73);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    z-index: 2;
    font-size: 32px;
    font-weight: bold;
    color: var(--color-text-main);
    opacity: 0;
    animation: slowFadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translateY(-30px);
}

@keyframes slowFadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  