.newGameMenuWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.select {
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: flex-end;
}